In [8]:
import matplotlib
matplotlib.use('Agg')
from datascience import *
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('fivethirtyeight')

In [9]:
births = Table.read_table('baby.csv')
births

Birth Weight | Gestational Days | Maternal Age | Maternal Height | Maternal Pregnancy Weight | Maternal Smoker
120          | 284              | 27           | 62              | 100                       | False
113          | 282              | 33           | 64              | 135                       | False
128          | 279              | 28           | 64              | 115                       | True
108          | 282              | 23           | 67              | 125                       | True
136          | 286              | 25           | 62              | 93                        | False
138          | 244              | 33           | 62              | 178                       | False
132          | 245              | 23           | 65              | 140                       | False
120          | 289              | 25           | 62              | 125                       | False
143          | 299              | 30           | 66              | 136                       | True
140          | 351              | 27           | 68              | 120                       | False
... (1164 rows omitted)

In [10]:
MHeight = births.select("Maternal Height")
MHeight

Maternal Height
62
64
64
67
62
62
65
62
66
68
... (1164 rows omitted)

In [16]:
def bootstrap_once():
    """
    Computes one bootstrapped difference in means.
    The table.sample method lets us take random samples.
    We then split according to the number of nonsmokers in the original sample.
    """
    resample = MHeight.sample(with_replacement = True)
    bootstrap_mean = np.mean(resample)
    return bootstrap_mean

In [17]:
n = 5000
bmean = np.array([bootstrap_once() for _ in range(n)])

table = Table().with_column("Height Mean", bmean)
table.hist()

ValueError: setting an array element with a sequence