In [26]:
from datascience import *
import pandas as pd
import numpy as np

In [27]:
Data = Table.read_table("PovertyEstimates.csv")
Data

State | Area_Name      | Rural-urban_Continuum_Code_2003 | Urban_Influence_Code_2003 | Rural-urban_Continuum_Code_2013 | Urban_Influence_Code_2013 | POVALL_2017 | CI90LBAll_2017 | CI90UBALL_2017 | PCTPOVALL_2017 | CI90LBALLP_2017 | CI90UBALLP_2017 | POV017_2017 | CI90LB017_2017 | CI90UB017_2017 | PCTPOV017_2017 | CI90LB017P_2017 | CI90UB017P_2017 | POV517_2017 | CI90LB517_2017 | CI90UB517_2017 | PCTPOV517_2017 | CI90LB517P_2017 | CI90UB517P_2017 | MEDHHINC_2017 | CI90LBINC_2017 | CI90UBINC_2017 | POV04_2017 | CI90LB04_2017 | CI90UB04_2017 | PCTPOV04_2017 | CI90LB04P_2017 | CI90UB04P_2017
US    | United States  | nan                             | nan                       | nan                             | nan                       | 42,583,651  | 42,342,619     | 42,824,683     | 13.4           | 13.3            | 13.5            | 13,353,202  | 13,229,339     | 13,477,065     | 18.4           | 18.2            | 18.6            | 9,120,503   | 9,033,090      | 9,207,916      | 17.3           | 17.1            | 17.5            | 60,336        | 60,250         | 60,422         | 3,932,969  | 3,880,645     | 3,985,293     | 20.2          | 19.9           | 20.5
AL    | Alabama        | nan                             | nan                       | nan                             | nan                       | 802,263     | 784,517        | 820,009        | 16.9           | 16.5            | 17.3            | 262,909     | 253,694        | 272,124        | 24.4           | 23.5            | 25.3            | 180,594     | 172,412        | 188,776        | 22.8           | 21.8            | 23.8            | 48,193        | 47,451         | 48,935         | 78,986     | 75,009        | 82,963        | 27.7          | 26.3           | 29.1
AL    | Autauga County | 2                               | 2                         | 2                               | 2                         | 7,390       | 6,147          | 8,633          | 13.4           | 11.1            | 15.7            | 2,542       | 2,081          | 3,003          | 19.3           | 15.8            | 22.8            | 1,842       | 1,492          | 2,192          | 18.6           | 15.1            | 22.1            | 58,343        | 52,121         | 64,565         | nan        | nan           | nan           | nan           | nan            | nan
AL    | Baldwin County | 4                               | 5                         | 3                               | 2                         | 21,199      | 17,444         | 24,954         | 10.1           | 8.3             | 11.9            | 6,734       | 5,079          | 8,389          | 14.7           | 11.1            | 18.3            | 4,871       | 3,641          | 6,101          | 14.3           | 10.7            | 17.9            | 56,607        | 52,439         | 60,775         | nan        | nan           | nan           | nan           | nan            | nan
AL    | Barbour County | 6                               | 6                         | 6                               | 6                         | 7,414       | 6,325          | 8,503          | 33.4           | 28.5            | 38.3            | 2,606       | 2,262          | 2,950          | 50.3           | 43.7            | 56.9            | 1,904       | 1,660          | 2,148          | 48.8           | 42.6            | 55              | 32,490        | 29,218         | 35,762         | nan        | nan           | nan           | nan           | nan            | nan
AL    | Bibb County    | 1                               | 1                         | 1                               | 1                         | 4,137       | 3,187          | 5,087          | 20.2           | 15.5            | 24.9            | 1,242       | 936            | 1,548          | 27.3           | 20.6            | 34              | 870         | 641            | 1,099          | 26.8           | 19.8            | 33.8            | 45,795        | 40,924         | 50,666         | nan        | nan           | nan           | nan           | nan            | nan
AL    | Blount County  | 1                               | 1                         | 1                               | 1                         | 7,343       | 5,805          | 8,881          | 12.8           | 10.1            | 15.5            | 2,484       | 1,881          | 3,087          | 18.5           | 14              | 23              | 1,763       | 1,307          | 2,219          | 17.7           | 13.1            | 22.3            | 48,253        | 43,784         | 52,722         | nan        | nan           | nan           | nan           | nan            | nan
AL    | Bullock County | 6                               | 6                         | 6                               | 6                         | 2,956       | 2,316          | 3,596          | 34.4           | 27              | 41.8            | 1,015       | 790            | 1,240          | 48.3           | 37.6            | 59              | 732         | 562            | 902            | 49             | 37.6            | 60.4            | 29,113        | 25,929         | 32,297         | nan        | nan           | nan           | nan           | nan            | nan
AL    | Butler County  | 6                               | 6                         | 6                               | 6                         | 4,154       | 3,155          | 5,153          | 21.3           | 16.2            | 26.4            | 1,471       | 1,085          | 1,857          | 33             | 24.3            | 41.7            | 1,049       | 759            | 1,339          | 31.8           | 23              | 40.6            | 36,842        | 33,405         | 40,279         | nan        | nan           | nan           | nan           | nan            | nan
AL    | Calhoun County | 3                               | 2                         | 3                               | 2                         | 19,832      | 16,938         | 22,726         | 17.7           | 15.1            | 20.3            | 5,932       | 4,701          | 7,163          | 24.2           | 19.2            | 29.2            | 4,021       | 3,066          | 4,976          | 22.2           | 16.9            | 27.5            | 45,937        | 43,419         | 48,455         | nan        | nan           | nan           | nan           | nan            | nan
... (3184 rows omitted)

In [30]:
newData = Data.select("State", "Rural-urban_Continuum_Code_2003")
newData

State | Rural-urban_Continuum_Code_2003
US    | nan
AL    | nan
AL    | 2
AL    | 4
AL    | 6
AL    | 1
AL    | 1
AL    | 6
AL    | 6
AL    | 3
... (3184 rows omitted)

In [33]:
option = make_array("IN","KY","IL","OH")
selectedData = newData.where("State", option)
selectedData

/Users/hudie/opt/anaconda3/lib/python3.7/site-packages/datascience/predicates.py:261: SyntaxWarning: Do not pass an array or list to a predicate.                 If you are trying to find rows where two columns are the                 same, use table.where('c', are.equal_to, table.column('d'))                instead of table.where('c', are.equal_to(table.column('d'))).
  SyntaxWarning)

State | Rural-urban_Continuum_Code_2003
IL    | nan
IL    | 5
IL    | 7
IL    | 1
IL    | 2
IL    | 7
IL    | 6
IL    | 1
IL    | 7
IL    | 6
... (396 rows omitted)

In [38]:
selectedData[selectedData.column("State").notnull()]

AttributeError: 'numpy.ndarray' object has no attribute 'notnull'